mat-card {
  max-width: 500px;
  width: 90%;
  margin: 70px auto;
}

mat-card-title {
  display: flex;
  font-size: 24px;
  font-weight: 600;
  justify-content: center;
  margin: 20px 0 80px 0;
}

app-input-field {
  margin-bottom: 40px;
}

button {
  width: 100%;
  margin-top: 20px;
  margin-bottom: 50px;
}

.error-message {
  display: block;
  text-align: center;
  color: red;
}
