<form [formGroup]="myForm">
  <div>
    <label>
      FName:
      <input formControlName="first_name" placeholder="Your fname">
    </label>
  </div>
  <div>
    <label>
      LName:
      <input formControlName="last_name" placeholder="Your lname">
    </label>
  </div>
  <div>
    <label>
      Email
      <input formControlName="email" placeholder="Your email">
    </label>
  </div>
  <div>
    <label>
      Password:
      <input formControlName="password" placeholder="Your password">
    </label>
  </div>
  <div>
    <label>
      CPassword:
      <input formControlName="password_confirm" placeholder="Your confirm password">
    </label>
  </div>
  <button type="submit" (click)="submitForm()">Send</button>
</form>

<button [routerLink]="'../login'">Login</button>
<button [routerLink]="'../home'">Home</button>
