mat-form-field {
  position: absolute;
  margin-top: 35px;
  width: 100%;
  z-index: 6;
}


app-book-item {
  margin-top: 35px;
}

.extend-space {
  position: absolute;
  width: 100%;
  height: 110px;
  background-color: white;
  overflow: hidden;
  z-index: 5;
}

.book-items-container {
  padding-top: 95px;
}
