.header {
  height: 60px;
  width: 100%;
  background: linear-gradient(182.65deg, #78C9CE 0%, #2496A2 99.98%, #2496A2 100%);
  padding: 10px;
  text-align: end;
  img {
    padding-top: 19px;
  }
}

.logout-btn {
  width: auto;
  padding: 10px 18px;
  background-color: #f44336;
  margin-right: 50px;
}
