<div class="input-container">
  <label class="error-label">{{label}}:

    <input [type]="type"
           [formControl]="field"
           [ngClass]="field.touched && !field.valid ? 'field-error' : undefined"
           [placeholder]="placeholder">
    <span
      class="error-text"
      *ngIf="field.touched && field.hasError('required')">
      {{label}} is required
    </span>
    <span
      class="error-text"
      *ngIf="field.touched && field.hasError('email')">
      Invalid email format
    </span>
  </label>

</div>
